
<div class="welcome"> Welcome To Encoder! </div>
<div class="explain"> To Start, press on the Encrypt button </div>

<%= link_to encrypt_path do %> 
<div class="encrypt_path">  <div class="center"> Encrypt</div></div>
<%end%> 
s
<!-- :remote => true -->